# dataset 불러오기

In [3]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')

In [4]:
df=titanic.copy()

In [5]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

# 복습용 dataset 불러오기 (스터디 활동)
- colab에 파일 업로드
- csv 파일 -> 변수명 = pd.read_csv('경로복사')
- .copy() 로 변형 가능한 복사본 DF 생성

In [17]:
student = pd.read_csv('/content/student-scores.csv')

In [18]:
dff = student.copy()

# .groupby()
    groupby('기준으로 묶을 컬럼')[추가로 요약통계치 볼 컬럼].요약통계치()
- grouping 변수명 = df.groupby('기준')
- fori, j in grouping 변수명:
  - grouping 기준
  - data 순으로 정렬돼서 나옴
- .get_group()
      grouping 변수명.get_group((grouping 기준1, 기준 2...))
  - grouping 후 특정 묶음 보기

In [20]:
pcl_grp=df.groupby('pclass')

In [21]:
car_grp = dff.groupby('career_aspiration')

In [22]:
pcl_grp

In [24]:
car_grp

In [12]:
for i, j in pcl_grp:
    print(i, '묶인 그룹')
    print(j, 'data')

1 묶인 그룹
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
1           1       1  female  38.0      1      0  71.2833        C  First
3           1       1  female  35.0      1      0  53.1000        S  First
6           0       1    male  54.0      0      0  51.8625        S  First
11          1       1  female  58.0      0      0  26.5500        S  First
23          1       1    male  28.0      0      0  35.5000        S  First
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
871         1       1  female  47.0      1      1  52.5542        S  First
872         0       1    male  33.0      0      0   5.0000        S  First
879         1       1  female  56.0      0      1  83.1583        C  First
887         1       1  female  19.0      0      0  30.0000        S  First
889         1       1    male  26.0      0      0  30.0000        C  First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
6      man        True    E  Southampton    no   True
11   woman       False    C  Southampton   yes   True
23     man        True    A  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
871  woman       False    D  Southampton   yes  False
872    man        True    B  Southampton    no   True
879  woman       False    C    Cherbourg   yes  False
887  woman       False    B  Southampton   yes   True
889    man        True    C    Cherbourg   yes   True

[216 rows x 15 columns] data
2 묶인 그룹
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
9           1       2  female  14.0      1      0  30.0708        C  Second
15          1       2  female  55.0      0      0  16.0000        S  Second
17          1       2    male   NaN      0      0  13.0000        S  Second
20          0       2    male  35.0      0      0  26.0000        S  Second
21          1       2    male  34.0      0      0  13.0000        S  Second
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
880         1       2  female  25.0      0      1  26.0000        S  Second
883         0       2    male  28.0      0      0  10.5000        S  Second
886         0       2    male  27.0      0      0  13.0000        S  Second

       who  adult_male deck  embark_town alive  alone
9    child       False  NaN    Cherbourg   yes  False
15   woman       False  NaN  Southampton   yes   True
17     man        True  NaN  Southampton   yes   True
20     man        True  NaN  Southampton    no   True
21     man        True    D  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
866  woman       False  NaN    Cherbourg   yes  False
874  woman       False  NaN    Cherbourg   yes  False
880  woman       False  NaN  Southampton   yes  False
883    man        True  NaN  Southampton    no   True
886    man        True  NaN  Southampton    no   True

[184 rows x 15 columns] data
3 묶인 그룹
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0           0       3    male  22.0      1      0   7.2500        S  Third
2           1       3  female  26.0      0      0   7.9250        S  Third
4           0       3    male  35.0      0      0   8.0500        S  Third
5           0       3    male   NaN      0      0   8.4583        Q  Third
7           0       3    male   2.0      3      1  21.0750        S  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
882         0       3  female  22.0      0      0  10.5167        S  Third
884         0       3    male  25.0      0      0   7.0500        S  Third
885         0       3  female  39.0      0      5  29.1250        Q  Third
888         0       3  female   NaN      1      2  23.4500        S  Third
890         0       3    male  32.0      0      0   7.7500        Q  Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
2    woman       False  NaN  Southampton   yes   True
4      man        True  NaN  Southampton    no   True
5      man        True  NaN   Queenstown    no   True
7    child       False  NaN  Southampton    no  False
..     ...         ...  ...          ...   ...    ...
882  woman       False  NaN  Southampton    no   True
884    man        True  NaN  Southampton    no   True
885  woman       False  NaN   Queenstown    no  False
888  woman       False  NaN  Southampton    no  False
890    man        True  NaN   Queenstown    no   True

[491 rows x 15 columns] data

In [25]:
for i, j in car_grp:
    print(i, '묶인 그룹')
    print(j, 'data')

Accountant 묶인 그룹
        id   first_name  last_name                                    email  \
28      29      Jeffrey  Blanchard   jeffrey.blanchard.29@gslingacademy.com
29      30        Carol       Hill          carol.hill.30@gslingacademy.com
32      33      Timothy     Bryant      timothy.bryant.33@gslingacademy.com
39      40  Christopher     Taylor  christopher.taylor.40@gslingacademy.com
49      50        Sonia      Noble         sonia.noble.50@gslingacademy.com
...    ...          ...        ...                                      ...
1939  1940      Michael     Wilson    michael.wilson.1940@gslingacademy.com
1942  1943       Andrew      Olson      andrew.olson.1943@gslingacademy.com
1970  1971        James     Bryant      james.bryant.1971@gslingacademy.com
1994  1995       Steven      Lewis      steven.lewis.1995@gslingacademy.com
1999  2000      Natalie      Smith     natalie.smith.2000@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
28      male          False             1                        True
29    female          False             3                       False
32      male          False             4                       False
39      male          False             4                       False
49    female          False             0                       False
...      ...            ...           ...                         ...
1939    male          False             3                       False
1942    male          False             2                       False
1970    male          False             1                       False
1994    male          False             1                       False
1999  female          False             5                       False

      weekly_self_study_hours career_aspiration  math_score  history_score  \
28                         17        Accountant          79             65
29                         19        Accountant          82            100
32                         30        Accountant          77             96
39                         18        Accountant          92             60
49                         14        Accountant         100             89
...                       ...               ...         ...            ...
1939                       26        Accountant          92             86
1942                       28        Accountant          98             88
1970                       27        Accountant          99             87
1994                       19        Accountant          76             62
1999                       27        Accountant          82             99

      physics_score  chemistry_score  biology_score  english_score  \
28               99               71             76             77
29               61               97             30             74
32               98               89             85             62
39               66               87             60             83
49               90               93             30             83
...             ...              ...            ...            ...
1939             61               78             56             68
1942             81               65             59             84
1970             67               91             36             76
1994             90               82             93             71
1999             91               69             83             93

      geography_score
28                 83
29                 73
32                 62
39                 95
49                 74
...               ...
1939               85
1942               87
1970               64
1994               61
1999              100

[126 rows x 17 columns] data
Artist 묶인 그룹
        id first_name   last_name                                   email  \
3        4       Tara       Clark          tara.clark.4@gslingacademy.com
96      97    Natasha      Hansen     natasha.hansen.97@gslingacademy.com
100    101     Rhonda       Jones      rhonda.jones.101@gslingacademy.com
103    104    Stephen      Patton    stephen.patton.104@gslingacademy.com
141    142       Marc  Villanueva   marc.villanueva.142@gslingacademy.com
...    ...        ...         ...                                     ...
1844  1845    Caitlin      Duncan   caitlin.duncan.1845@gslingacademy.com
1889  1890     Rachel      Reeves    rachel.reeves.1890@gslingacademy.com
1926  1927    Antonio     Beasley  antonio.beasley.1927@gslingacademy.com
1937  1938      Carol       Ramos      carol.ramos.1938@gslingacademy.com
1957  1958      Cindy     Bradley    cindy.bradley.1958@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
3     female          False             5                       False
96    female          False             3                        True
100   female          False             2                       False
103     male           True             6                       False
141     male           True             2                        True
...      ...            ...           ...                         ...
1844  female          False             1                       False
1889  female          False             3                       False
1926    male          False             4                       False
1937  female          False             6                       False
1957  female          False             2                       False

      weekly_self_study_hours career_aspiration  math_score  history_score  \
3                           3            Artist          71             74
96                          2            Artist          86             76
100                         4            Artist          87             73
103                         1            Artist          90             80
141                         3            Artist          71             85
...                       ...               ...         ...            ...
1844                        2            Artist          87             78
1889                        2            Artist          64             69
1926                        3            Artist          63             97
1937                        1            Artist          96             66
1957                        3            Artist          62             67

      physics_score  chemistry_score  biology_score  english_score  \
3                88               80             89             63
96               84               93             76             69
100              98               91             79             60
103              63               94             64             70
141              77               89             98             63
...             ...              ...            ...            ...
1844             74               75             95             69
1889             79               89             72             64
1926             80               84             90             63
1937             76               71             94             72
1957             85               97             98             62

      geography_score
3                  86
96                 91
100                77
103                79
141               100
...               ...
1844               99
1889               82
1926               64
1937               86
1957               73

[67 rows x 17 columns] data
Banker 묶인 그룹
        id first_name last_name                                    email  \
26      27      Jason  Williams      jason.williams.27@gslingacademy.com
33      34    Phyllis      Diaz        phyllis.diaz.34@gslingacademy.com
38      39     Miguel  Martinez     miguel.martinez.39@gslingacademy.com
53      54    Lindsay    Pruitt      lindsay.pruitt.54@gslingacademy.com
57      58      David    Vaughn        david.vaughn.58@gslingacademy.com
...    ...        ...       ...                                      ...
1971  1972   Kimberly   Swanson  kimberly.swanson.1972@gslingacademy.com
1974  1975     Dwayne      Sims       dwayne.sims.1975@gslingacademy.com
1983  1984       Mary   Jackson      mary.jackson.1984@gslingacademy.com
1984  1985     Joshua    Stuart     joshua.stuart.1985@gslingacademy.com
1992  1993       John  Peterson     john.peterson.1993@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
26      male          False             3                       False
33    female          False             1                       False
38      male          False             4                       False
53    female          False             3                       False
57      male           True             2                       False
...      ...            ...           ...                         ...
1971  female          False             2                        True
1974    male          False             6                        True
1983  female          False             2                       False
1984    male           True             3                       False
1992    male          False             2                        True

      weekly_self_study_hours career_aspiration  math_score  history_score  \
26                         34            Banker         100             77
33                         24            Banker          99             84
38                         21            Banker          77             64
53                         32            Banker          90             96
57                         18            Banker          94             78
...                       ...               ...         ...            ...
1971                       19            Banker          75             88
1974                       11            Banker          77             97
1983                       21            Banker          92             77
1984                       18            Banker          79             68
1992                       12            Banker          79             83

      physics_score  chemistry_score  biology_score  english_score  \
26               80               94             63             90
33               84               78             78             77
38               64               88             94             82
53               86               61             89             98
57               73               97             67             78
...             ...              ...            ...            ...
1971             71               80             65             85
1974             88               89             74             95
1983             91               79             98             77
1984             64               68             97             78
1992             76               99            100             84

      geography_score
26                 90
33                 68
38                 78
53                 68
57                 99
...               ...
1971               60
1974               64
1983               87
1984               84
1992               71

[169 rows x 17 columns] data
Business Owner 묶인 그룹
        id first_name last_name                                    email  \
12      13   Patricia     Gomez      patricia.gomez.13@gslingacademy.com
13      14     Pamela   Jackson      pamela.jackson.14@gslingacademy.com
15      16      Roger     Wiley         roger.wiley.16@gslingacademy.com
21      22       Kyle    Willis         kyle.willis.22@gslingacademy.com
22      23    Shannon   Simpson     shannon.simpson.23@gslingacademy.com
...    ...        ...       ...                                      ...
1966  1967       Paul    Bailey       paul.bailey.1967@gslingacademy.com
1976  1977       Lisa  Stafford     lisa.stafford.1977@gslingacademy.com
1977  1978    Kristin    Garcia    kristin.garcia.1978@gslingacademy.com
1978  1979       Eric    Adkins       eric.adkins.1979@gslingacademy.com
1998  1999   Brittany   Compton  brittany.compton.1999@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
12    female           True             7                       False
13    female          False            10                       False
15      male          False             6                       False
21      male          False             8                       False
22    female          False             9                       False
...      ...            ...           ...                         ...
1966    male           True             4                       False
1976  female          False             8                       False
1977  female          False            10                        True
1978    male          False             7                       False
1998  female           True            10                        True

      weekly_self_study_hours career_aspiration  math_score  history_score  \
12                          4    Business Owner          94             59
13                          2    Business Owner          66             94
15                          0    Business Owner          94             50
21                          4    Business Owner          57             55
22                          2    Business Owner          89             72
...                       ...               ...         ...            ...
1966                        5    Business Owner          82             69
1976                        2    Business Owner          74             59
1977                        5    Business Owner          56             66
1978                        5    Business Owner          72             69
1998                        5    Business Owner          51             96

      physics_score  chemistry_score  biology_score  english_score  \
12               69               67             89             65
13               86              100             57             90
15               78               64             79             74
21               78               94             83             88
22               68               72             71             54
...             ...              ...            ...            ...
1966             92               85             59             87
1976             82               51             91             96
1977             87               64             95             89
1978             91               69             53             73
1998             72               89             95             88

      geography_score
12                 73
13                 63
15                 84
21                 88
22                 90
...               ...
1966               83
1976               94
1977               76
1978               95
1998               75

[309 rows x 17 columns] data
Construction Engineer 묶인 그룹
        id first_name last_name                                   email  \
36      37       Ryan       Lee           ryan.lee.37@gslingacademy.com
37      38    Michael   Gilmore    michael.gilmore.38@gslingacademy.com
64      65       Eric     Reyes         eric.reyes.65@gslingacademy.com
161    162    Anthony  Sullivan  anthony.sullivan.162@gslingacademy.com
162    163       Troy  Shepherd     troy.shepherd.163@gslingacademy.com
...    ...        ...       ...                                     ...
1816  1817    William      Khan     william.khan.1817@gslingacademy.com
1866  1867     Victor   Andrade   victor.andrade.1867@gslingacademy.com
1918  1919     Joseph      Hess      joseph.hess.1919@gslingacademy.com
1924  1925     Jeremy      Tran      jeremy.tran.1925@gslingacademy.com
1995  1996       Alan  Reynolds    alan.reynolds.1996@gslingacademy.com

     gender  part_time_job  absence_days  extracurricular_activities  \
36     male          False             2                        True
37     male          False             1                       False
64     male          False             2                       False
161    male           True             3                       False
162    male          False             4                       False
...     ...            ...           ...                         ...
1816   male          False             2                       False
1866   male          False             1                       False
1918   male          False             3                       False
1924   male          False             1                       False
1995   male          False             2                       False

      weekly_self_study_hours      career_aspiration  math_score  \
36                         19  Construction Engineer          99
37                         29  Construction Engineer          92
64                         18  Construction Engineer          91
161                        24  Construction Engineer          96
162                        33  Construction Engineer          86
...                       ...                    ...         ...
1816                       16  Construction Engineer          87
1866                       34  Construction Engineer          83
1918                       35  Construction Engineer          85
1924                       35  Construction Engineer          98
1995                       30  Construction Engineer          83

      history_score  physics_score  chemistry_score  biology_score  \
36               94             87               71             89
37              100             85               89             81
64               73             99               70             63
161              66             92               88             65
162              88             99               79             93
...             ...            ...              ...            ...
1816             80             85               60             96
1866             60             80               92             84
1918             90             96               95             95
1924             85            100               94             93
1995             77             84               73             75

      english_score  geography_score
36               91               96
37               91               88
64               80               78
161              76               72
162              97               91
...             ...              ...
1816             81               83
1866             60               70
1918             88               90
1924             92               94
1995             84               82

[68 rows x 17 columns] data
Designer 묶인 그룹
        id   first_name  last_name  \
31      32      Cynthia      Knapp
70      71         Jill      Perez
134    135  Christopher    Jenkins
135    136       Joanne     Campos
223    224       Steven       York
233    234        Keith    Summers
251    252        Debra     Valdez
278    279     Victoria    Vasquez
294    295        Laura  Rodriguez
331    332        Carla      Lewis
347    348        Ricky    Nichols
366    367        Tracy     Harris
421    422       Sandra     Jacobs
447    448       Joseph      Stone
454    455       Daniel      Brown
459    460        Susan      Perez
547    548  Christopher   Peterson
679    680      Jeffrey      Price
724    725      Theresa       Gray
735    736         Beth     Acosta
751    752       Angela      Brown
758    759         Kari  Hernandez
823    824       Alexis       Hall
829    830  Christopher    Jenkins
830    831    Cassandra     Hodges
900    901       Pamela    Edwards
936    937      Maurice     Nguyen
1015  1016        Craig      Weber
1133  1134    Stephanie      Allen
1156  1157       Miguel  Hernandez
1191  1192         Adam    Wallace
1235  1236        Brian   Crawford

In [ ]:
#내가 원하는 그룹만 추출할 수 있다.
pcl_grp.get_group(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [26]:
car_grp.get_group('Lawyer')

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
46,47,Elizabeth,Martin,elizabeth.martin.47@gslingacademy.com,female,False,5,True,27,Lawyer,71,85,93,68,100,91,87
51,52,Sandra,Thornton,sandra.thornton.52@gslingacademy.com,female,False,2,False,24,Lawyer,99,81,73,70,85,86,61
61,62,Brittany,Koch,brittany.koch.62@gslingacademy.com,female,False,5,False,33,Lawyer,83,86,61,99,99,88,73
98,99,Derrick,Figueroa,derrick.figueroa.99@gslingacademy.com,male,True,0,False,28,Lawyer,100,93,85,61,96,83,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,1928,Michelle,Lopez,michelle.lopez.1928@gslingacademy.com,female,False,2,False,32,Lawyer,72,95,71,74,84,97,66
1950,1951,Vicki,Jackson,vicki.jackson.1951@gslingacademy.com,female,False,2,True,33,Lawyer,89,89,69,87,69,97,79
1979,1980,Allison,Henderson,allison.henderson.1980@gslingacademy.com,female,False,3,False,27,Lawyer,87,86,83,80,90,90,61
1980,1981,Alison,Palmer,alison.palmer.1981@gslingacademy.com,female,False,2,False,30,Lawyer,80,81,96,92,100,91,87
1991,1992,Charlotte,Rowe,charlotte.rowe.1992@gslingacademy.com,female,False,4,False,27,Lawyer,88,96,79,70,95,90,99

In [28]:
# 2개 이상 컬럼을 묶기
pcl_grp2=df.groupby(['pclass','sex'])

In [29]:
car_grp2 = dff.groupby(['career_aspiration', 'gender'])

In [ ]:
for i,j in pcl_grp2:
    print(i,'묶인 그룹')
    print(j,'data')

(1, 'female') 묶인 그룹
     survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
1           1       1  female  38.0      1      0   71.2833        C  First
3           1       1  female  35.0      1      0   53.1000        S  First
11          1       1  female  58.0      0      0   26.5500        S  First
31          1       1  female   NaN      1      0  146.5208        C  First
52          1       1  female  49.0      1      0   76.7292        C  First
..        ...     ...     ...   ...    ...    ...       ...      ...    ...
856         1       1  female  45.0      1      1  164.8667        S  First
862         1       1  female  48.0      0      0   25.9292        S  First
871         1       1  female  47.0      1      1   52.5542        S  First
879         1       1  female  56.0      0      1   83.1583        C  First
887         1       1  female  19.0      0      0   30.0000        S  First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
11   woman       False    C  Southampton   yes   True
31   woman       False    B    Cherbourg   yes  False
52   woman       False    D    Cherbourg   yes  False
..     ...         ...  ...          ...   ...    ...
856  woman       False  NaN  Southampton   yes  False
862  woman       False    D  Southampton   yes   True
871  woman       False    D  Southampton   yes  False
879  woman       False    C    Cherbourg   yes  False
887  woman       False    B  Southampton   yes   True

[94 rows x 15 columns] data
(1, 'male') 묶인 그룹
     survived  pclass   sex   age  sibsp  parch      fare embarked  class  \
6           0       1  male  54.0      0      0   51.8625        S  First
23          1       1  male  28.0      0      0   35.5000        S  First
27          0       1  male  19.0      3      2  263.0000        S  First
30          0       1  male  40.0      0      0   27.7208        C  First
34          0       1  male  28.0      1      0   82.1708        C  First
..        ...     ...   ...   ...    ...    ...       ...      ...    ...
839         1       1  male   NaN      0      0   29.7000        C  First
857         1       1  male  51.0      0      0   26.5500        S  First
867         0       1  male  31.0      0      0   50.4958        S  First
872         0       1  male  33.0      0      0    5.0000        S  First
889         1       1  male  26.0      0      0   30.0000        C  First

     who  adult_male deck  embark_town alive  alone
6    man        True    E  Southampton    no   True
23   man        True    A  Southampton   yes   True
27   man        True    C  Southampton    no  False
30   man        True  NaN    Cherbourg    no   True
34   man        True  NaN    Cherbourg    no  False
..   ...         ...  ...          ...   ...    ...
839  man        True    C    Cherbourg   yes   True
857  man        True    E  Southampton   yes   True
867  man        True    A  Southampton    no   True
872  man        True    B  Southampton    no   True
889  man        True    C    Cherbourg   yes   True

[122 rows x 15 columns] data
(2, 'female') 묶인 그룹
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
9           1       2  female  14.0      1      0  30.0708        C  Second
15          1       2  female  55.0      0      0  16.0000        S  Second
41          0       2  female  27.0      1      0  21.0000        S  Second
43          1       2  female   3.0      1      2  41.5792        C  Second
53          1       2  female  29.0      1      0  26.0000        S  Second
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
854         0       2  female  44.0      1      0  26.0000        S  Second
865         1       2  female  42.0      0      0  13.0000        S  Second
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
880         1       2  female  25.0      0      1  26.0000        S  Second

       who  adult_male deck  embark_town alive  alone
9    child       False  NaN    Cherbourg   yes  False
15   woman       False  NaN  Southampton   yes   True
41   woman       False  NaN  Southampton    no  False
43   child       False  NaN    Cherbourg   yes  False
53   woman       False  NaN  Southampton   yes  False
..     ...         ...  ...          ...   ...    ...
854  woman       False  NaN  Southampton    no  False
865  woman       False  NaN  Southampton   yes   True
866  woman       False  NaN    Cherbourg   yes  False
874  woman       False  NaN    Cherbourg   yes  False
880  woman       False  NaN  Southampton   yes  False

[76 rows x 15 columns] data
(2, 'male') 묶인 그룹
     survived  pclass   sex   age  sibsp  parch  fare embarked   class  who  \
17          1       2  male   NaN      0      0  13.0        S  Second  man
20          0       2  male  35.0      0      0  26.0        S  Second  man
21          1       2  male  34.0      0      0  13.0        S  Second  man
33          0       2  male  66.0      0      0  10.5        S  Second  man
70          0       2  male  32.0      0      0  10.5        S  Second  man
..        ...     ...   ...   ...    ...    ...   ...      ...     ...  ...
848         0       2  male  28.0      0      1  33.0        S  Second  man
861         0       2  male  21.0      1      0  11.5        S  Second  man
864         0       2  male  24.0      0      0  13.0        S  Second  man
883         0       2  male  28.0      0      0  10.5        S  Second  man
886         0       2  male  27.0      0      0  13.0        S  Second  man

     adult_male deck  embark_town alive  alone
17         True  NaN  Southampton   yes   True
20         True  NaN  Southampton    no   True
21         True    D  Southampton   yes   True
33         True  NaN  Southampton    no   True
70         True  NaN  Southampton    no   True
..          ...  ...          ...   ...    ...
848        True  NaN  Southampton    no  False
861        True  NaN  Southampton    no  False
864        True  NaN  Southampton    no   True
883        True  NaN  Southampton    no   True
886        True  NaN  Southampton    no   True

[108 rows x 15 columns] data
(3, 'female') 묶인 그룹
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
2           1       3  female  26.0      0      0   7.9250        S  Third
8           1       3  female  27.0      0      2  11.1333        S  Third
10          1       3  female   4.0      1      1  16.7000        S  Third
14          0       3  female  14.0      0      0   7.8542        S  Third
18          0       3  female  31.0      1      0  18.0000        S  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
863         0       3  female   NaN      8      2  69.5500        S  Third
875         1       3  female  15.0      0      0   7.2250        C  Third
882         0       3  female  22.0      0      0  10.5167        S  Third
885         0       3  female  39.0      0      5  29.1250        Q  Third
888         0       3  female   NaN      1      2  23.4500        S  Third

       who  adult_male deck  embark_town alive  alone
2    woman       False  NaN  Southampton   yes   True
8    woman       False  NaN  Southampton   yes  False
10   child       False    G  Southampton   yes  False
14   child       False  NaN  Southampton    no   True
18   woman       False  NaN  Southampton    no  False
..     ...         ...  ...          ...   ...    ...
863  woman       False  NaN  Southampton    no  False
875  child       False  NaN    Cherbourg   yes   True
882  woman       False  NaN  Southampton    no   True
885  woman       False  NaN   Queenstown    no  False
888  woman       False  NaN  Southampton    no  False

[144 rows x 15 columns] data
(3, 'male') 묶인 그룹
     survived  pclass   sex   age  sibsp  parch     fare embarked  class  \
0           0       3  male  22.0      1      0   7.2500        S  Third
4           0       3  male  35.0      0      0   8.0500        S  Third
5           0       3  male   NaN      0      0   8.4583        Q  Third
7           0       3  male   2.0      3      1  21.0750        S  Third
12          0       3  male  20.0      0      0   8.0500        S  Third
..        ...     ...   ...   ...    ...    ...      ...      ...    ...
877         0       3  male  19.0      0      0   7.8958        S  Third
878         0       3  male   NaN      0      0   7.8958        S  Third
881         0       3  male  33.0      0      0   7.8958        S  Third
884         0       3  male  25.0      0      0   7.0500        S  Third
890         0       3  male  32.0      0      0   7.7500        Q  Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
4      man        True  NaN  Southampton    no   True
5      man        True  NaN   Queenstown    no   True
7    child       False  NaN  Southampton    no  False
12     man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
877    man        True  NaN  Southampton    no   True
878    man        True  NaN  Southampton    no   True
881    man        True  NaN  Southampton    no   True
884    man        True  NaN  Southampton    no   True
890    man        True  NaN   Queenstown    no   True

[347 rows x 15 columns] data

In [31]:
for i,j in car_grp2:
    print(i,'묶인 그룹')
    print(j,'data')

('Accountant', 'female') 묶인 그룹
        id first_name last_name                                   email  \
29      30      Carol      Hill         carol.hill.30@gslingacademy.com
49      50      Sonia     Noble        sonia.noble.50@gslingacademy.com
106    107       Erin    Kelley       erin.kelley.107@gslingacademy.com
172    173     Rhonda   Webster    rhonda.webster.173@gslingacademy.com
202    203   Jennifer   Burgess  jennifer.burgess.203@gslingacademy.com
...    ...        ...       ...                                     ...
1668  1669       Emma    Morris      emma.morris.1669@gslingacademy.com
1784  1785    Kristen    Werner   kristen.werner.1785@gslingacademy.com
1798  1799       Sara   Johnson     sara.johnson.1799@gslingacademy.com
1897  1898     Nicole     Smith     nicole.smith.1898@gslingacademy.com
1999  2000    Natalie     Smith    natalie.smith.2000@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
29    female          False             3                       False
49    female          False             0                       False
106   female          False             3                       False
172   female          False             5                        True
202   female          False             3                       False
...      ...            ...           ...                         ...
1668  female          False             8                       False
1784  female          False             3                       False
1798  female          False             2                       False
1897  female           True             1                       False
1999  female          False             5                       False

      weekly_self_study_hours career_aspiration  math_score  history_score  \
29                         19        Accountant          82            100
49                         14        Accountant         100             89
106                        16        Accountant          91             80
172                        31        Accountant          82             66
202                        16        Accountant          85             62
...                       ...               ...         ...            ...
1668                       21        Accountant          76             84
1784                       23        Accountant          92             75
1798                       20        Accountant          99             70
1897                       14        Accountant         100             68
1999                       27        Accountant          82             99

      physics_score  chemistry_score  biology_score  english_score  \
29               61               97             30             74
49               90               93             30             83
106              97               89             94             95
172              89               76             68             83
202              84               80             37             80
...             ...              ...            ...            ...
1668             95               66             84             74
1784            100               78             32             84
1798             97               93             87             90
1897             85               85             62             63
1999             91               69             83             93

      geography_score
29                 73
49                 74
106                84
172                79
202                71
...               ...
1668               64
1784               69
1798               88
1897               92
1999              100

[64 rows x 17 columns] data
('Accountant', 'male') 묶인 그룹
        id   first_name  last_name                                    email  \
28      29      Jeffrey  Blanchard   jeffrey.blanchard.29@gslingacademy.com
32      33      Timothy     Bryant      timothy.bryant.33@gslingacademy.com
39      40  Christopher     Taylor  christopher.taylor.40@gslingacademy.com
90      91      Patrick     Parker      patrick.parker.91@gslingacademy.com
109    110      Phillip      Allen      phillip.allen.110@gslingacademy.com
...    ...          ...        ...                                      ...
1915  1916      Jeffrey     Miller    jeffrey.miller.1916@gslingacademy.com
1939  1940      Michael     Wilson    michael.wilson.1940@gslingacademy.com
1942  1943       Andrew      Olson      andrew.olson.1943@gslingacademy.com
1970  1971        James     Bryant      james.bryant.1971@gslingacademy.com
1994  1995       Steven      Lewis      steven.lewis.1995@gslingacademy.com

     gender  part_time_job  absence_days  extracurricular_activities  \
28     male          False             1                        True
32     male          False             4                       False
39     male          False             4                       False
90     male          False             0                       False
109    male          False             5                        True
...     ...            ...           ...                         ...
1915   male          False             2                       False
1939   male          False             3                       False
1942   male          False             2                       False
1970   male          False             1                       False
1994   male          False             1                       False

      weekly_self_study_hours career_aspiration  math_score  history_score  \
28                         17        Accountant          79             65
32                         30        Accountant          77             96
39                         18        Accountant          92             60
90                         14        Accountant          95             78
109                        13        Accountant          78             69
...                       ...               ...         ...            ...
1915                       21        Accountant          91            100
1939                       26        Accountant          92             86
1942                       28        Accountant          98             88
1970                       27        Accountant          99             87
1994                       19        Accountant          76             62

      physics_score  chemistry_score  biology_score  english_score  \
28               99               71             76             77
32               98               89             85             62
39               66               87             60             83
90               95               73             32             65
109              82               60             64             77
...             ...              ...            ...            ...
1915             98               96             66             87
1939             61               78             56             68
1942             81               65             59             84
1970             67               91             36             76
1994             90               82             93             71

      geography_score
28                 83
32                 62
39                 95
90                 68
109                82
...               ...
1915               65
1939               85
1942               87
1970               64
1994               61

[62 rows x 17 columns] data
('Artist', 'female') 묶인 그룹
        id first_name   last_name                                      email  \
3        4       Tara       Clark             tara.clark.4@gslingacademy.com
96      97    Natasha      Hansen        natasha.hansen.97@gslingacademy.com
100    101     Rhonda       Jones         rhonda.jones.101@gslingacademy.com
185    186      Jenny       Lloyd          jenny.lloyd.186@gslingacademy.com
204    205      April        Ryan           april.ryan.205@gslingacademy.com
250    251      Holly   Henderson      holly.henderson.251@gslingacademy.com
283    284      Nancy      Pierce         nancy.pierce.284@gslingacademy.com
427    428       Jill      Sexton          jill.sexton.428@gslingacademy.com
440    441      Megan       Moyer          megan.moyer.441@gslingacademy.com
458    459    Crystal      Nguyen       crystal.nguyen.459@gslingacademy.com
565    566     Sherry       Brown         sherry.brown.566@gslingacademy.com
575    576       Rita     Cochran         rita.cochran.576@gslingacademy.com
602    603      Susan       Lynch          susan.lynch.603@gslingacademy.com
631    632  Elizabeth       Smith      elizabeth.smith.632@gslingacademy.com
742    743      Angie       White          angie.white.743@gslingacademy.com
754    755       Lisa       Cowan           lisa.cowan.755@gslingacademy.com
822    823    Heather     Bentley      heather.bentley.823@gslingacademy.com
837    838       Mary        Bird            mary.bird.838@gslingacademy.com
883    884     Alison     Webster       alison.webster.884@gslingacademy.com
934    935    Tiffany      Fields       tiffany.fields.935@gslingacademy.com
943    944  Alexandra       Brown      alexandra.brown.944@gslingacademy.com
974    975    Melissa    Gonzales     melissa.gonzales.975@gslingacademy.com
1022  1023      Sarah    Mckinney      sarah.mckinney.1023@gslingacademy.com
1155  1156  Cassandra      Flores    cassandra.flores.1156@gslingacademy.com
1164  1165    Rebecca       Roman       rebecca.roman.1165@gslingacademy.com
1167  1168    Crystal      Miller      crystal.miller.1168@gslingacademy.com
1255  1256    Katrina  Montgomery  katrina.montgomery.1256@gslingacademy.com
1292  1293      Susan       Perez         susan.perez.1293@gslingacademy.com
1343  1344       Gina     Kennedy        gina.kennedy.1344@gslingacademy.com
1346  1347     Connie       Colon        connie.colon.1347@gslingacademy.com
1385  1386   Patricia        Pope       patricia.pope.1386@gslingacademy.com
1472  1473  Christine       Smith     christine.smith.1473@gslingacademy.com
1522  1523     Amanda     Padilla      amanda.padilla.1523@gslingacademy.com
1525  1526  Stephanie     Spencer   stephanie.spencer.1526@gslingacademy.com
1609  1610     Rhonda       Munoz        rhonda.munoz.1610@gslingacademy.com
1642  1643      Erica       Lopez         erica.lopez.1643@gslingacademy.com
1707  1708    Rebecca     Pearson     rebecca.pearson.1708@gslingacademy.com
1725  1726      Laura       Allen         laura.allen.1726@gslingacademy.com
1844  1845    Caitlin      Duncan      caitlin.duncan.1845@gslingacademy.com
1889  1890     Rachel      Reeves       rachel.reeves.1890@gslingacademy.com
1937  1938      Carol       Ramos         carol.ramos.1938@gslingacademy.com
1957  1958      Cindy     Bradley       cindy.bradley.1958@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
3     female          False             5                       False
96    female          False             3                        True
100   female          False             2                       False
185   female          False             3                       False
204   female          False             1                       False
250   female          False             3                       False
283   female           True             4                        True
427   female          False             1                        True
440   female           True             2                       False
458   female          False             1                       False
565   female          False            10                        True
575   female          False             1                       False
602   female          False             0                       False
631   female          False             2                        True
742   female          False             6                       False
754   female          False             1                       False
822   female          False             1                        True
837   female          False             3                       False
883   female           True             1                        True
934   female          False             1                       False
943   female          False             3                       False
974   female           True             2                       False
1022  female          False             3                        True
1155  female           True             3                        True
1164  female          False             1                       False
1167  female          False             4                       False
1255  female          False             5                       False
1292  female          False             5                       False
1343  female          False             1                       False
1346  female          False             5                       False
1385  female          False             3                        True
1472  female          False             4                        True
1522  female          False             2                       False
1525  female          False             1                       False
1609  female          False             0                       False
1642  female          False             5                       False
1707  female          False             3                        True
1725  female          False             1                       False
1844  female          False             1                       False
1889  female          False             3                       False
1937  female          False             6                       False
1957  female          False             2                       False

      weekly_self_study_hours career_aspiration  math_score  history_score  \
3                           3            Artist          71             74
96                          2            Artist          86             76
100                         4            Artist          87             73
185                         2            Artist          69             78
204                         1            Artist          98             95
250                         3            Artist          93            100
283                         4            Artist          82             85
427                         0            Artist          71             84
440                         1            Artist          82             95
458                         1            Artist          95             73
565                         3            Artist          87             82
575                         5            Artist          72             91
602                         5            Artist          87             91
631                         4            Artist          83             89
742                         0            Artist          62             79
754                         1            Artist          70             63
822                         2            Artist          73             71
837                         0            Artist          92             65
883                         1            Artist          63             75
934                         5            Artist          68             67
943                         2            Artist          76             73
974                         0            Artist         100             95
1022                        5            Artist          87             96
1155                        0            Artist          72             62
1164                        2            Artist          62            100
1167                        4            Artist          98             80
1255                        3            Artist          65             67
1292                        5            Artist          83             94
1343                        3            Artist          65             67
1346                        1            Artist          88             62
1385                        5            Artist          60             69
1472                        4            Artist          79            100
1522                        2            Artist          91             87
1525                        5            Artist          63             86
1609                        5            Artist          73            100
1642                        4            Artist          80             61
1707                        1            Artist          90             96
1725                        3            Artist          99             85
1844                        2            Artist          87             78
1889                        2            Artist          64             69
1937                        1            Artist          96             66
1957                        3            Artist          62             67

      physics_score  chemistry_score  biology_score  english_score  \
3                88               80             89             63
96               84               93             76             69
100              98               91             79             60
185              69               70            100             88
204              90               81             82             86
250              87               66             85             96
283              75               92             76             95
427              66               75             93             84
440              68               64             97             99
458              79               81             82             69
565              88              100             73             96
575              78               97             86             93
602              93               92             97             95
631              99              100             73             86
742              75               65             71             75
754              73               97             63             61
822              60               70             78             72
837              95               60             93             69
883              68               63             63             73
934              65               68             63             97
943              74               73             81             87
974              60               89             77             89
1022             67               64             67             81
1155             96               95             97             71
1164             91               75             99             76
1167             66               94             86             72
1255             91               81             97             99
1292             77               97             78             60
1343             90               99             93             91
1346             65               98             92             64
1385             80               87            100             93
1472             75               85            100             81
1522             84               91             96             88
1525             72               72             90             75
1609             78               77             71             61
1642             89               98             73             90
1707             89               88             94             73
1725             60               81             75             78
1844             74               75             95             69
1889             79               89             72             64
1937             76               71             94             72
1957             85               97             98             62


In [32]:
pcl_grp2.get_group((3,'female'))

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [33]:
car_grp2.get_group(('Writer','female'))

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
71,72,Kimberly,Bonilla,kimberly.bonilla.72@gslingacademy.com,female,True,3,False,22,Writer,62,87,93,83,93,97,73
375,376,Chelsea,Mitchell,chelsea.mitchell.376@gslingacademy.com,female,False,2,False,29,Writer,77,87,65,91,71,90,90
392,393,Cheryl,Arias,cheryl.arias.393@gslingacademy.com,female,False,6,False,31,Writer,62,81,80,88,78,94,85
419,420,Jennifer,West,jennifer.west.420@gslingacademy.com,female,False,2,False,35,Writer,92,97,100,91,95,90,95
614,615,Mary,Taylor,mary.taylor.615@gslingacademy.com,female,False,3,False,24,Writer,80,70,80,96,72,99,65
633,634,Lisa,Bean,lisa.bean.634@gslingacademy.com,female,False,1,False,11,Writer,98,72,99,84,60,95,93
701,702,Barbara,Petersen,barbara.petersen.702@gslingacademy.com,female,False,2,True,16,Writer,71,100,99,95,91,96,96
715,716,Kelly,Church,kelly.church.716@gslingacademy.com,female,False,2,False,22,Writer,72,72,85,90,75,94,65
963,964,Shelia,Rogers,shelia.rogers.964@gslingacademy.com,female,False,1,False,35,Writer,89,91,96,100,95,93,86
1038,1039,Sarah,Murphy,sarah.murphy.1039@gslingacademy.com,female,True,7,False,32,Writer,68,81,72,76,93,94,97
1136,1137,Julia,Day,julia.day.1137@gslingacademy.com,female,False,1,False,31,Writer,77,98,67,67,80,90,66
1216,1217,Carol,Nguyen,carol.nguyen.1217@gslingacademy.com,female,False,3,True,31,Writer,76,83,100,96,65,98,97
1251,1252,Terri,Lyons,terri.lyons.1252@gslingacademy.com,female,False,3,True,21,Writer,69,77,82,93,92,90,71
1295,1296,Alexandria,Harris,alexandria.harris.1296@gslingacademy.com,female,False,6,False,34,Writer,91,75,82,68,88,98,88
1308,1309,Jennifer,Martin,jennifer.martin.1309@gslingacademy.com,female,False,1,False,13,Writer,92,77,89,97,61,93,82
1835,1836,Renee,Cruz,renee.cruz.1836@gslingacademy.com,female,False,3,False,14,Writer,89,73,96,84,96,98,77
1916,1917,Rebecca,Castillo,rebecca.castillo.1917@gslingacademy.com,female,False,1,True,22,Writer,72,100,78,100,98,92,97
1952,1953,Danielle,Johnson,danielle.johnson.1953@gslingacademy.com,female,False,2,False,35,Writer,97,85,86,99,96,90,88

In [34]:
pcl_grp2.mean() # 각 column의 group 별 통계치 보기

<ipython-input-34-47b6f44958e3>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pcl_grp2.mean()

               survived        age     sibsp     parch        fare  \
pclass sex
1      female  0.968085  34.611765  0.553191  0.457447  106.125798
       male    0.368852  41.281386  0.311475  0.278689   67.226127
2      female  0.921053  28.722973  0.486842  0.605263   21.970121
       male    0.157407  30.740707  0.342593  0.222222   19.741782
3      female  0.500000  21.750000  0.895833  0.798611   16.118810
       male    0.135447  26.507589  0.498559  0.224784   12.661633

               adult_male     alone
pclass sex
1      female    0.000000  0.361702
       male      0.975410  0.614754
2      female    0.000000  0.421053
       male      0.916667  0.666667
3      female    0.000000  0.416667
       male      0.919308  0.760807

In [35]:
car_grp2.mean()

<ipython-input-35-b430ebe81a69>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  car_grp2.mean()

                                       id  part_time_job  absence_days  \
career_aspiration     gender
Accountant            female   918.140625       0.093750      3.421875
                      male    1050.774194       0.032258      3.193548
Artist                female   993.047619       0.119048      2.714286
                      male     868.040000       0.080000      3.680000
Banker                female  1052.271845       0.097087      3.436893
                      male    1106.272727       0.121212      3.151515
Business Owner        female  1036.975610       0.530488      7.079268
                      male     938.296552       0.503448      6.924138
Construction Engineer male    1000.161765       0.058824      3.102941
Designer              female  1038.968750       0.125000      3.156250
                      male    1006.333333       0.041667      2.375000
Doctor                female  1079.584906       0.150943      3.150943
                      male    1104.651515       0.060606      3.015152
Game Developer        female   880.387097       0.225806      2.645161
                      male    1150.906250       0.031250      3.375000
Government Officer    female  1007.677419       0.064516      3.354839
                      male    1135.800000       0.066667      2.666667
Lawyer                female  1080.681818       0.045455      3.318182
                      male    1028.694444       0.083333      2.986111
Real Estate Developer female  1128.288889       0.022222      3.088889
                      male     968.552632       0.078947      2.631579
Scientist             female   996.947368       0.052632      2.947368
                      male    1022.950000       0.150000      3.150000
Software Engineer     female   956.659574       0.106383      3.070922
                      male     982.310345       0.132184      2.919540
Stock Investor        female   824.240000       0.160000      3.240000
                      male    1015.562500       0.166667      3.145833
Teacher               female  1040.525424       0.084746      2.576271
Unknown               female   937.321101       0.064220      2.926606
                      male     863.131579       0.078947      2.982456
Writer                female   991.555556       0.111111      2.722222
                      male     990.071429       0.000000      3.357143

                              extracurricular_activities  \
career_aspiration     gender
Accountant            female                    0.125000
                      male                      0.290323
Artist                female                    0.285714
                      male                      0.320000
Banker                female                    0.252427
                      male                      0.227273
Business Owner        female                    0.201220
                      male                      0.200000
Construction Engineer male                      0.235294
Designer              female                    0.062500
                      male                      0.125000
Doctor                female                    0.056604
                      male                      0.181818
Game Developer        female                    0.129032
                      male                      0.156250
Government Officer    female                    0.258065
                      male                      0.133333
Lawyer                female                    0.212121
                      male                      0.166667
Real Estate Developer female                    0.355556
                      male                      0.315789
Scientist             female                    0.210526
                      male                      0.200000
Software Engineer     female                    0.241135
                      male                      0.195402
Stock Investor        female                    0.240000
                      male                      0.166667
Teacher               female                    0.152542
Unknown               female                    0.220183
                      male                      0.175439
Writer                female                    0.222222
                      male                      0.071429

                              weekly_self_study_hours  math_score  \
career_aspiration     gender
Accountant            female                22.859375   87.921875
                      male                  22.080645   86.774194
Artist                female                 2.595238   79.309524
                      male                   2.360000   81.480000
Banker                female                22.242718   87.058252
                      male                  21.000000   87.121212
Business Owner        female                 2.506098   70.109756
                      male                   2.393103   69.117241
Construction Engineer male                  22.191176   89.720588
Designer              female                16.687500   83.375000
                      male                  15.000000   81.000000
Doctor                female                34.452830   92.339623
                      male                  36.560606   91.772727
Game Developer        female                 3.032258   91.612903
                      male                   2.968750   88.343750
Government Officer    female                 9.193548   82.838710
                      male                   9.200000   78.400000
Lawyer                female                30.075758   85.787879
                      male                  29.458333   86.263889
Real Estate Developer female                 4.755556   75.977778
                      male                   4.973684   76.947368
Scientist             female                31.947368   89.421053
                      male                  32.650000   86.000000
Software Engineer     female                24.347518   91.957447
                      male                  24.706897   92.298851
Stock Investor        female                20.640000   89.160000
                      male                  20.479167   87.562500
Teacher               female                12.830508   78.593220
Unknown               female                17.183486   78.155963
                      male                  19.982456   81.456140
Writer                female                25.444444   79.666667
                      male                  22.714286   76.571429

                              history_score  physics_score  chemistry_score  \
career_aspiration     gender
Accountant            female      82.078125      81.218750        81.125000
                      male        77.177419      81.661290        81.532258
Artist                female      80.142857      78.952381        82.880952
                      male        82.720000      81.880000        78.160000
Banker                female      81.398058      78.660194        79.077670
                      male        80.909091      79.954545        79.363636
Business Owner        female      73.390244      73.951220        75.225610
                      male        72.731034      74.841379        74.000000
Construction Engineer male        80.985294      90.588235        78.617647
Designer              female      78.250000      83.843750        79.281250
                      male        79.375000      81.458333        80.416667
Doctor                female      86.849057      91.207547        91.490566
                      male        86.636364      92.590909        91.954545
Game Developer        female      80.032258      89.967742        78.709677
                      male        73.906250      92.031250        78.781250
Government Officer    female      83.580645      78.129032        80.483871
                      male        83.933333      82.700000        77.933333
Lawyer                female      89.848485      79.984848        82.560606
                      male        88.583333      80.541667        78.486111
Real Estate Developer female      79.755556      82.888889        79.977778
                      male        80.394737      80.368421        80.210526
Scientist             female      78.736842      91.842105        90.473684
                      male        79.850000      91.950000        91.650000
Software Engineer     female      82.460993      81.290780        80.957447
                      male        80.459770      81.034483        78.942529
Stock Investor        female      76.600000      82.120000        76.680000
                      male        82.312500      78.916667        82.979167
Teacher               female      79.118644      79.966102        80.084746
Unknown               female      79.880734      81.027523        79.311927
                      male        79.552632      80.868421        78.842105
Writer                female      83.666667      86.055556        88.777778
                      male        86.142857      81.642857        73.357143

                              biology_score  english_score  geography_score
career_aspiration     gender
Accountant            female      62.796875      80.937500        79.781250
                      male        68.661290      76.887097        80.258065
Artist                female      84.380952      79.095238        82.619048
                      male        78.000000      77.720000        80.120000
Banker                female      77.766990      87.300971        78.970874
                      male        81.924242      86.075758        82.181818
Business Owner        female      74.865854      75.695122        80.243902
                      male        73.931034      74.496552        79.896552
Construction Engineer male        83.161765      81.058824        80.161765
Designer              female      85.812500      82.187500        85.968750
                      male        85.291667      82.416667        84.375000
Doctor                female      91.698113      83.830189        87.207547
                      male        93.196970      86.257576        87.848485
Game Developer        female      81.096774      80.064516        79.709677
                      male        77.531250      78.562500        74.906250
Government Officer    female      82.064516      80.741935        77.903226
                      male        79.733333      84.166667        80.366667
Lawyer                female      81.848485      89.454545        81.287879
                      male        81.847222      89.819444        82.027778
Real Estate Developer female      77.311111      77.577778        83.111111
                      male        80.131579      78.421053        77.605263
Scientist             female      90.263158      86.473684        87.000000
                      male        87.650000      77.400000        81.850000
Software Engineer     female      79.971631      81.907801        81.226950
                      male        79.517241      80.022989        79.770115
Stock Investor        female      81.800000      80.480000        80.680000
                      male        80.604167      79.375000        79.937500
Teacher               female      79.627119      85.389831        81.457627
Unknown               female      80.238532      78.990826        77.440367
                      male        81.017544      80.508772        80.833333
Writer                female      83.277778      93.944444        83.944444
                      male        78.285714      94.928571        83.357143

In [ ]:
pcl_grp.std() # 표준편차

/var/folders/sz/167qwb595mqgwry5mm8685n00000gn/T/ipykernel_91584/335150303.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pcl_grp.std()

,survived,age,sibsp,parch,fare,adult_male,alone
pclass,,,,,,,
1,0.484026,14.802856,0.611898,0.693997,78.380373,0.498555,0.501140
2,0.500623,14.001077,0.601633,0.690963,13.417399,0.499911,0.497081
3,0.428949,12.495398,1.374883,0.888861,11.778142,0.477552,0.474233

## agg 함수
- 여러가지 통계치를 함께 보기 위해 사용 (요약통계치)
      group.agg(['통계1','통계2','통계3'])
  - count: 각 그룹의 항목 개수

In [ ]:
pcl_grp2.agg(['min','max','count'])

In [37]:
car_grp2.agg(['min','max','count'])

                               id              first_name                  \
                              min   max count         min       max count
career_aspiration     gender
Accountant            female   30  2000    64   Alejandra     Wanda    64
                      male     29  1995    62       Aaron   Zachary    62
Artist                female    4  1958    42   Alexandra   Tiffany    42
                      male    104  1927    25       Aaron   William    25
Banker                female   34  1984   103      Amanda  Veronica   103
                      male     27  1993    66       Allen   William    66
Business Owner        female   13  1999   164       Aimee  Victoria   164
                      male     16  1979   145       Aaron   Zachary   145
Construction Engineer male     37  1996    68        Alan    Xavier    68
Designer              female   32  1988    32      Alexis  Victoria    32
                      male    135  1849    24        Adam     Tracy    24
Doctor                female    2  1957    53   Alexandra   Whitney    53
                      male     19  1994    66      Andrew      Tony    66
Game Developer        female   44  1955    31      Amanda   Vanessa    31
                      male     55  1961    32       Aaron    Walter    32
Government Officer    female    3  1937    31      Amanda      Tina    31
                      male     92  1986    30        Adam    Willie    30
Lawyer                female   47  1992    66      Alison     Wendy    66
                      male      1  1920    72   Alexander   William    72
Real Estate Developer female  106  1906    45   Alexandra  Veronica    45
                      male     68  1970    38     Anthony    Willie    38
Scientist             female   17  1973    19      Amanda     Wanda    19
                      male     84  1828    20    Benjamin   Zachary    20
Software Engineer     female   20  1998   141     Abigail    Yvette   141
                      male      7  1997   174        Adam   William   174
Stock Investor        female   82  1745    25     Adriana  Victoria    25
                      male     48  1990    48        Adam   William    48
Teacher               female   10  1983    59       Aimee   Valerie    59
Unknown               female    6  1968   109   Alexandra   Whitney   109
                      male      5  1989   114        Adam   William   114
Writer                female   72  1953    18  Alexandria     Terri    18
                      male     28  1864    14       Brian    Thomas    14

                              last_name                    \
                                    min         max count
career_aspiration     gender
Accountant            female  Alexander   Zimmerman    64
                      male        Allen      Wilson    62
Artist                female      Allen       White    42
                      male       Bailey  Williamson    25
Banker                female     Adkins      Wright   103
                      male      Aguilar    Williams    66
Business Owner        female      Adams       Yates   164
                      male        Adams       Young   145
Construction Engineer male     Anderson      Wright    68
Designer              female     Acosta       Weeks    32
                      male       Arnold        York    24
Doctor                female    Andrews       White    53
                      male        Baker       Yates    66
Game Developer        female     Abbott    Williams    31
                      male        Allen    Williams    32
Government Officer    female    Andrews       Young    31
                      male     Anderson    Williams    30
Lawyer                female     Arnold      Zuniga    66
                      male     Anderson        York    72
Real Estate Developer female      Allen        York    45
                      male       Bright     Wilkins    38
Scientist             female     Bowers      Zavala    19
                      male       Acosta        Wood    20
Software Engineer     female      Adams       Young   141
                      male        Adams       Young   174
Stock Investor        female   Anderson       Weiss    25
                      male     Anderson      Walton    48
Teacher               female      Adams      Wright    59
Unknown               female      Adams      Zamora   109
                      male        Allen      Wright   114
Writer                female      Arias        West    18
                      male      Barrett        Yang    14

                                                                   email  ...  \
                                                                     min  ...
career_aspiration     gender                                              ...
Accountant            female       alejandra.johns.711@gslingacademy.com  ...
                      male         aaron.mcdaniel.1355@gslingacademy.com  ...
Artist                female       alexandra.brown.944@gslingacademy.com  ...
                      male        aaron.williamson.689@gslingacademy.com  ...
Banker                female         amanda.green.1918@gslingacademy.com  ...
                      male             allen.booth.471@gslingacademy.com  ...
Business Owner        female           aimee.cook.1331@gslingacademy.com  ...
                      male            aaron.allen.1907@gslingacademy.com  ...
Construction Engineer male          alan.reynolds.1996@gslingacademy.com  ...
Designer              female           alexis.hall.824@gslingacademy.com  ...
                      male           adam.wallace.1192@gslingacademy.com  ...
Doctor                female    alexandra.robinson.578@gslingacademy.com  ...
                      male            andrew.green.439@gslingacademy.com  ...
Game Developer        female      amanda.peterson.1598@gslingacademy.com  ...
                      male            aaron.ortiz.1290@gslingacademy.com  ...
Government Officer    female          amanda.davis.304@gslingacademy.com  ...
                      male            adam.edwards.877@gslingacademy.com  ...
Lawyer                female        alison.palmer.1981@gslingacademy.com  ...
                      male      alexander.mitchell.885@gslingacademy.com  ...
Real Estate Developer female  alexandra.blackburn.1869@gslingacademy.com  ...
                      male           anthony.silva.863@gslingacademy.com  ...
Scientist             female           amanda.cox.1755@gslingacademy.com  ...
                      male          benjamin.morse.108@gslingacademy.com  ...
Software Engineer     female         abigail.perez.102@gslingacademy.com  ...
                      male            adam.herring.750@gslingacademy.com  ...
Stock Investor        female      adriana.sandoval.436@gslingacademy.com  ...
                      male            adam.edwards.194@gslingacademy.com  ...
Teacher               female           aimee.adams.351@gslingacademy.com  ...
Unknown               female      alexandra.gibson.109@gslingacademy.com  ...
                      male               adam.kane.266@gslingacademy.com  ...
Writer                female    alexandria.harris.1296@gslingacademy.com  ...
                      male           brian.gibson.1569@gslingacademy.com  ...

                             chemistry_score biology_score             \
                                       count           min  max count
career_aspiration     gender
Accountant            female              64            30   99    64
                      male                62            30  100    62
Artist                female              42            63  100    42
                      male                25            60   98    25
Banker                female             103            60  100   103
                      male                66            61  100    66
Business Owner        female             164            50  100   164
                      male               145            50   99   145
Construction Engineer male                68            62  100    68
Designer              female              32            70   99    32
                      male                24            70   99    24
Doctor                female              53            85  100    53
                      male                66            85  100    66
Game Developer        female              31            62  100    31
                      male                32            60   96    32
Government Officer    female              31            64   99    31
                      male                30            60   98    30
Lawyer                female              66            60  100    66
                      male                72            60  100    72
Real Estate Developer female              45            61  100    45
                      male                38            60  100    38
Scientist             female              19            80  100    19
                      male                20            80  100    20
Software Engineer     female             141            60  100   141
                      male               174            60  100   174
Stock Investor        female              25            61  100    25
                      male                48            61  100    48
Teacher               female              59            60  100    59
Unknown               female             109            60  100   109
                      male               114            60  100   114
Writer                female              18            60   98    18
                      male                14            63   99    14

                             english_score           geography_score       \
                                       min max count             min  max
career_aspiration     gender
Accountant            female            60  99    64              60  100
                      male              60  99    62              61  100
Artist                female            60  99    42              60  100
                      male              60  94    25              62  100
Banker                female            75  99   103              60   99
                      male              75  99    66              60  100
Business Owner        female            50  99   164              60   99
                      male              50  99   145              60  100
Construction Engineer male              60  99    68              61   99
Designer              female            61  99    32              70  100
                      male              61  99    24              71   99
Doctor                female            60  99    53              64  100
                      male              61  99    66              62  100
Game Developer        female            60  99    31              60   99
                      male              61  98    32              61   98
Government Officer    female            65  99    31              60   98
                      male              65  98    30              62   99
Lawyer                female            80  99    66              61  100
                      male              80  99    72              60  100
Real Estate Developer female            60  99    45              62  100
                      male              60  98    38              61   99
Scientist             female            64  99    19              67  100
                      male              62  95    20              68   95
Software Engineer     female            60  99   141              60  100
                      male              60  98   174              60  100
Stock Investor        female            61  98    25              60  100
                      male              60  99    48              60  100
Teacher               female            70  98    59              61  100
Unknown               female            60  99   109              60  100
                      male              60  99   114              60  100
Writer                female            90  99    18              65   97
                      male              90  99    14              64  100


                             count
career_aspiration     gender
Accountant            female    64
                      male      62
Artist                female    42
                      male      25
Banker                female   103
                      male      66
Business Owner        female   164
                      male     145
Construction Engineer male      68
Designer              female    32
                      male      24
Doctor                female    53
                      male      66
Game Developer        female    31
                      male      32
Government Officer    female    31
                      male      30
Lawyer                female    66
                      male      72
Real Estate Developer female    45
                      male      38
Scientist             female    19
                      male      20
Software Engineer     female   141
                      male     174
Stock Investor        female    25
                      male      48
Teacher               female    59
Unknown               female   109
                      male     114
Writer                female    18
                      male      14

[32 rows x 45 columns]

In [38]:
# agg함수를 이용해서 내가 직접 함수를 만들거나 계산식을 만들어서 적용시킬 수 있다.

def min_max(x): # range값 계산 함수가 됨 - 여기서는 별 의미없는 값
    return x.max()- x.min()

In [39]:
pcl_grp.agg(min_max) # 내가 만든 계산식을 agg함수를 이용해서 적용시킬 수 있다.

<ipython-input-39-0cba340402f0>:1: FutureWarning: ['sex', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  pcl_grp.agg(min_max) # 내가 만든 계산식을 agg함수를 이용해서 적용시킬 수 있다.

        survived    age  sibsp  parch      fare
pclass
1              1  79.08      3      4  512.3292
2              1  69.33      3      3   73.5000
3              1  73.58      8      6   69.5500

In [40]:
car_grp.agg(min_max)

<ipython-input-40-7e74eb16c9fd>:1: FutureWarning: ['first_name', 'last_name', 'email', 'gender', 'part_time_job', 'extracurricular_activities'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  car_grp.agg(min_max)

,id,absence_days,weekly_self_study_hours,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
career_aspiration,,,,,,,,,,
Accountant,1971,10,23,25,40,40,39,70,39,40
Artist,1954,10,5,40,39,40,40,40,39,40
Banker,1966,10,25,25,40,40,40,40,24,40
Business Owner,1986,9,5,60,50,50,50,50,49,40
Construction Engineer,1959,10,25,20,40,20,40,38,39,38
Designer,1956,7,34,38,37,40,40,29,38,30
Doctor,1992,10,29,20,40,20,20,15,39,38
Game Developer,1917,10,4,20,40,20,40,40,39,39
Government Officer,1983,10,12,39,35,40,38,39,34,39
Lawyer,1991,10,11,30,20,40,40,40,19,40
Real Estate Developer,1902,10,10,50,40,40,40,40,39,39
Scientist,1956,9,5,25,39,20,20,20,37,33
Software Engineer,1991,10,21,15,40,40,40,40,39,40
Stock Investor,1942,9,31,25,39,40,40,39,39,40
Teacher,1973,9,11,39,40,40,40,40,28,39
Unknown,1984,10,35,40,40,40,40,40,39,40
Writer,1925,9,24,36,30,36,39,39,9,36

In [41]:
df.groupby('pclass')['age'].mean() # pclass로 grouping 후 age의 평균 보기

pclass
1    38.233441
2    29.877630
3    25.140620
Name: age, dtype: float64

In [ ]:
df.groupby(['pclass','sex'])['age'].mean() # pclass와 sex로 grouping 후 age의 평균 보기

pclass  sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: age, dtype: float64

In [42]:
df.groupby(['pclass','sex'])['age'].agg(['min','sum']) # pclass와 sex로 grouping 후 age의 min과 sum 보기

                min      sum
pclass sex
1      female  2.00  2942.00
       male    0.92  4169.42
2      female  2.00  2125.50
       male    0.67  3043.33
3      female  0.75  2218.50
       male    0.42  6706.42

In [45]:
dff.groupby(['career_aspiration', 'gender'])['weekly_self_study_hours'].agg(['min','max','mean'])

                              min  max       mean
career_aspiration     gender
Accountant            female   13   35  22.859375
                      male     12   35  22.080645
Artist                female    0    5   2.595238
                      male      0    5   2.360000
Banker                female   10   35  22.242718
                      male     10   35  21.000000
Business Owner        female    0    5   2.506098
                      male      0    5   2.393103
Construction Engineer male     10   35  22.191176
Designer              female    3   35  16.687500
                      male      1   34  15.000000
Doctor                female   22   49  34.452830
                      male     21   50  36.560606
Game Developer        female    1    5   3.032258
                      male      1    5   2.968750
Government Officer    female    3   15   9.193548
                      male      3   15   9.200000
Lawyer                female   24   35  30.075758
                      male     24   35  29.458333
Real Estate Developer female    0   10   4.755556
                      male      0   10   4.973684
Scientist             female   30   35  31.947368
                      male     30   35  32.650000
Software Engineer     female   14   35  24.347518
                      male     14   35  24.706897
Stock Investor        female    3   34  20.640000
                      male      4   34  20.479167
Teacher               female    7   18  12.830508
Unknown               female    1   35  17.183486
                      male      0   35  19.982456
Writer                female   11   35  25.444444
                      male     12   32  22.714286

# 데이터 병합
- 판다스에서 제공하는 merge, concat 함수
- merge 기준 컬럼을 통한 ( 공통된 컬럼( 값 기준 )) 데이터를 병합
    - 공통된 **기준 값인 컬럼**이 필요하다
    - join 할 수 있는 방법이 다양
      - left, right, outer, inner
        - inner: 두 데이터프레임 간에 일치하는 키(열)를 기준으로 조인을 수행하고, 결과로서 두 데이터프레임에서 모두 일치하는 행만을 유지
          - 교집합
        - outer 조인: 두 데이터프레임 중 하나에 해당하는 모든 행을 포함; 일치하는 경우에는 일치하는 값으로, 일치하지 않는 경우에는 NaN(결측치)으로 채워짐
          - 합집합
        - right: 오른쪽 데이터프레임을 기준으로 조인; 오른쪽 데이터프레임의 모든 행을 유지하고, 왼쪽 데이터프레임과 일치하는 경우에만 결합; 왼쪽 데이터프레임에 해당하는 데이터가 없는 경우에는 NaN(결측치)으로 채워짐
        - left: 왼쪽 ...
    - 공통 컬럼 기준으로 여러 컬럼을 합칠 수 있다.
- concat 데이터와 데이터 덩어리와 덩어리를 합쳐서 병합한다.
    - df1, df2를 예시로 붙인다면? 행과 열 기준으로 붙일 수 있다.
      - axis =0, 1에 따라서 붙이는 방법이 다르다.
        - df1 + df2 ....+ dfn (가로로 붙이는 경우)
        - 아래로... (세로로 붙이는 경우)
    
- 데이터 병합을 하는 이유는?
  - 고객이 어떤 주문을하고 어떤 행사에 참여했는지를 보고 싶다 -> 고객+주문+행사를 합쳐서 봐야 한다.

In [46]:
test1=pd.DataFrame({'학회원번호':[1,2,3,4,5],
             '학회원분반':['Python','SQL','R','데이터분석입문','데이터분석전처리']})

In [47]:
test2=pd.DataFrame({'학회원번호':[1,2,3,4,5],
             '상점현황':[4,3,5,10,2]})

In [50]:
display(test1)
display(test2)

   학회원번호     학회원분반
0      1    Python
1      2       SQL
2      3         R
3      4   데이터분석입문
4      5  데이터분석전처리

   학회원번호  상점현황
0      1     4
1      2     3
2      3     5
3      4    10
4      5     2

## pd.merge()
- join function
- 함수는 두 개의 데이터프레임을 하나로 결합할 때 특정 열(또는 인덱스)을 기준으로 조인하는 데 사용
  - 데이터프레임 간에 공통된 열(또는 인덱스)을 필요로 함

In [51]:
pd.merge(test1, test2, how='inner')

   학회원번호     학회원분반  상점현황
0      1    Python     4
1      2       SQL     3
2      3         R     5
3      4   데이터분석입문    10
4      5  데이터분석전처리     2

## pd.concat()
- 연결 function
- 하나 이상의 데이터프레임을 단순히 연결하여 새로운 축으로 합칠 때 사용되며, 행 또는 열의 순서를 바꿀 수 있음

In [52]:
# concat
pd.concat([test1,test2]) # 디폴트는 행기준으로 붙여진다. (axis = 0: 아래로)

   학회원번호     학회원분반  상점현황
0      1    Python   NaN
1      2       SQL   NaN
2      3         R   NaN
3      4   데이터분석입문   NaN
4      5  데이터분석전처리   NaN
0      1       NaN   4.0
1      2       NaN   3.0
2      3       NaN   5.0
3      4       NaN  10.0
4      5       NaN   2.0

In [56]:
pd.concat([test1,test2],axis=1) # 옆으로

   학회원번호     학회원분반  학회원번호  상점현황
0      1    Python      1     4
1      2       SQL      2     3
2      3         R      3     5
3      4   데이터분석입문      4    10
4      5  데이터분석전처리      5     2

# value_counts()
    value_counts(normalize=True, False) (확률분포값으로)
    value_counts(ascending=True, False) (오름차순)

- 해당 값을 카운팅

In [57]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df.sex.value_counts(normalize=True) # 확률분포값으로 표기

male      0.647587
female    0.352413
Name: sex, dtype: float64

In [ ]:
df.embark_town.value_counts(ascending=True) # 오름차순

Queenstown      77
Cherbourg      168
Southampton    644
Name: embark_town, dtype: int64

In [58]:
dff.gender.value_counts(normalize=True)

female    0.501
male      0.499
Name: gender, dtype: float64

In [59]:
dff.career_aspiration.value_counts(normalize=True, ascending=True)

Writer                   0.0160
Scientist                0.0195
Designer                 0.0280
Teacher                  0.0295
Government Officer       0.0305
Game Developer           0.0315
Artist                   0.0335
Construction Engineer    0.0340
Stock Investor           0.0365
Real Estate Developer    0.0415
Doctor                   0.0595
Accountant               0.0630
Lawyer                   0.0690
Banker                   0.0845
Unknown                  0.1115
Business Owner           0.1545
Software Engineer        0.1575
Name: career_aspiration, dtype: float64

# boolean을 통한 데이터 추출
- query로도 가능
      df['column'] == 'value'
- 만족하는 데이터만 DF로 보기
      df[df['column'] == 'value']

In [60]:
df['sex']=='male'

0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: sex, Length: 891, dtype: bool

In [ ]:
#df[df.컬럼==참거짓값] df불린값으로 추출이 가능
df[df['sex']=='male'] # 만족하는 row만 df로 표기

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [61]:
df[df['sex']=='female']

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [62]:
dff[dff['gender'] == 'female']

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
5,6,Kelly,Wade,kelly.wade.6@gslingacademy.com,female,False,2,False,26,Unknown,93,100,67,78,72,80,84
9,10,Audrey,Simpson,audrey.simpson.10@gslingacademy.com,female,False,3,True,18,Teacher,98,69,88,71,67,71,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987,1988,Holly,Erickson,holly.erickson.1988@gslingacademy.com,female,False,6,False,8,Designer,97,91,61,75,95,61,89
1991,1992,Charlotte,Rowe,charlotte.rowe.1992@gslingacademy.com,female,False,4,False,27,Lawyer,88,96,79,70,95,90,99
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

In [ ]:
df[(df['sex']=='female') & (df['class']=='First')]['fare'].mean() # 여성이고 first class에 탑승한 사람들의 df를 뽑은 후, fare의 평균 추출

106.12579787234043

In [63]:
df[(df['sex']=='female') & (df['class']=='First')].groupby('embark_town')['survived'].sum()
# 여성이고 first class에 탑승한 사람들의 df를 뽑은 후, embark town으로 grouping을 하고 각각의 survived column의 합을 본다

embark_town
Cherbourg      42
Queenstown      1
Southampton    46
Name: survived, dtype: int64

In [64]:
dff

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

- pandas에서는 and가 아닌 & 써야함 (내부적 데이터처리 방식이 달라서)

In [66]:
dff[(dff['gender']=='male') & (dff['career_aspiration'] == 'Doctor')].groupby('extracurricular_activities')['weekly_self_study_hours'].mean()

extracurricular_activities
False    36.888889
True     35.083333
Name: weekly_self_study_hours, dtype: float64

In [67]:
df[(df['sex']=='female') & (df['class']=='First')]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
52,1,1,female,49.0,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,1,1,female,45.0,1,1,164.8667,S,First,woman,False,NaN,Southampton,yes,False
862,1,1,female,48.0,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True